// =============================================================================
// :: Container
// =============================================================================
.l-container {
	width: calc(100% - #{rem(get-viewport-spacing("mobile") * 2)});
	max-width: $container-width-base;
	margin: 0 auto;

	@include respond-at(get-breakpoint("tablet")) {
		width: calc(100% - #{rem(get-viewport-spacing("tablet") * 2)});
	}

	@include respond-at(get-breakpoint("desktop")) {
		width: calc(100% - #{rem(get-viewport-spacing("desktop") * 2)});
	}

	@include respond-at(get-breakpoint("screen")) {
		width: calc(100% - #{rem(get-viewport-spacing("screen") * 2)});
	}
}
