// =============================================================================
// :: Section
// =============================================================================
.l-section {
	padding-top: 7rem;
	padding-bottom: 5rem;
}

// =============================================================================
// :: Elements
// =============================================================================
.l-section__header {
	margin-bottom: 2rem;
}

.l-section__item {

	+ .l-section__item {
		margin-top: 7rem;
	}
}

// =============================================================================
// :: Modifiers
// =============================================================================
.l-section--grey-half {
	background: linear-gradient(to right, $background-color-grey-1x-light 0% 85%, $background-color-white 85% 100%);

	@include respond-at("tablet") {
		background: linear-gradient(to right, $background-color-grey-1x-light 0% 50%, $background-color-white 50% 100%);
	}

	.l-section__text {
		max-width: calc(85% - 2rem);

		@include respond-at("tablet") {
			max-width: calc(50% - 2rem);
		}
	}
}

.l-section__content--split {

	.l-section__item {

		@include respond-at(get-breakpoint("tablet")) {
			width: 50%;
		}
	}

	@include respond-at(get-breakpoint("tablet")) {
		display: flex;
		flex-direction: row;
	}
}
