{# ========================================================================== #}
{# Coworking #}
{# ========================================================================== #}
<section class="l-section">
	<div class="l-container">
		<header class="l-section__header">
			<h2 class="l-section__title">De samenwerking</h2>
		</header>
		<div class="l-section__content l-section__content--split">
			<div class="l-section__item">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
				do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
				do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="l-section__item">
				lsqkdfj
			</div>
		</div>
	</div>
</section>