{# Create a category query with the 'group' parameter #}
{% set plantensoorten = craft.categories().group('plantensoort').all() %}

{# Display the navigation #}
{% set plantensoort %}
	<ul>
		{% nav plantsoort in plantensoorten %}
		<li>
			<a href="#{{ plantsoort.slug }}">{{ plantsoort.title }}</a>
		</li>
		{% endnav %}
	</ul>
{% endset %}

{% include "/components/intro.twig" with {
	classes: "",
	contentTitle: entry.commonTitle,
	contentText: "<p>"~ entry.commonIntroduction ~ "</p>" ~ plantensoort
} only %}
