{% include "/components/intro.twig" with {
	classes: "",
	contentTitle: "Catalogus",
	contentText: "<p>Hiermee hebben we het genoegen U onze catalogus voor dit
	seizoen aan te bieden. In de catalogus staan de planten onderverdeeld in
	drie groepen:</p>
	<ul>
		<li><a href='#haag-conifieren'>Haag conifieren</a></li>
		<li><a href='#rots-conifieren'>Rots conifieren</a></li>
		<li><a href='#sier-struiken'>Sier struikenn</a></li>
	</ul>
	"
} only %}
