{# ========================================================================== #}
{# Inheritance #}
{# ========================================================================== #}
{% extends "_base/layout" %}

{% set transform = {
		mode: 'fit',
		width: 500,
		height: 500,
		quality: 90,
		position: 'center-center'
	}
%}

{# ========================================================================== #}
{# Content #}
{# ========================================================================== #}
{% block content %}
	{% include "/pages/_partials/catalogus/intro.twig" %}

	<div class="l-section l-section--grey">
		<div class="l-container">
			<div class="l-section__content">

				<div class="l-section__item">
					<div class="l-grid l-grid--with-spacing">
						{% set planten = craft.entries ({
							section: 'planten',
							limit: null
						})%}

						{% for plant in planten.all() %}

							{% if plant.commonImage.one() %}
								{% set image = plant.commonImage.one().getUrl(transform) %}
							{%  else %}
								{% set image = '' %}
							{% endif %}

							{% include "/components/article.twig" with {
							classes: "l-grid__col l-grid__col--12 l-grid__col--6@tablet l-grid__col--4@desktop",
							image: image,
							title: plant.title,
							type: plant.plantsoortCategory.one().title,
							text: plant.commonIntroduction,
							link: plant.url
							} only %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
