// =============================================================================
// :: Color palette
// =============================================================================
$black: hsla(0, 0%, 0%, 1);
$black-29: hsla(0, 0%, 29%, 1);
$black-70: hsla(0, 0%, 70%, 1);
$grey: hsla(0, 0%, 88%, 1);
$grey-97: hsla(0, 0%, 97%, 1);
$white: hsla(0, 0%, 100%, 1);
$white-40: hsla(0, 0%, 100%, 0.4);


$lime: hsla(60, 61%, 50%, 1);
$green: hsla(60, 41%, 40%, 1);
$dark-green: hsla(92, 54%, 45%, 1);

// =============================================================================
// :: Internal Colors
// =============================================================================
$primary-color: $green;
$secondary-color: $lime;
$tertiary-color: $dark-green;

// Background colors
$background-color-black: $black-29;
$background-color-grey: $grey;
$background-color-grey-1x-light: $grey-97;
$background-color-white: $white;

// Text colors
$text-color-base: $black-29;
$text-color-white: $white;
$text-color-light-grey: $black-70;


// border colors
$border-color-white-40: $white-40;
$border-color-base: $grey;
