// =============================================================================
// :: Color palette
// =============================================================================
$black: hsla(0, 0%, 0%, 1);
$black-29: hsla(0, 0%, 29%, 1);
$grey: hsla(0, 0%, 88%, 1);
$white: hsla(0, 0%, 100%, 100%);

// =============================================================================
// :: Internal Colors
// =============================================================================

// Background colors
$background-color-black: $black;
$background-color-grey: $grey;
$background-color-white: $white;

// Text colors
$text-color-base: $black-29;
