// =============================================================================
// :: Container
// =============================================================================
$container-width-base: 144rem;
$container-width-1x-small: 121rem;

// =============================================================================
// :: Drop shadow
// =============================================================================
$box-shadow-base: 0 0 50px 0 rgba(0, 0, 0, 0.1);

// =============================================================================
// :: Borders
// =============================================================================
$border-light: 0.1rem solid $border-color-white-40;
$border-base: 0.1rem solid $border-color-base;

// =============================================================================
// :: Border radius
// =============================================================================
$border-radius-large: 2.1rem;
$border-radius-base: 0.2rem;
