// =============================================================================
// :: Typography
// =============================================================================
/**
 * This file contains all the settings concerning the base typography. These
 * should NOT be used to define the typography of a standalone component,
 * but should provide a reusable system.
 * Opt to stay within the large - base and small values, using 1x, 2x, ... to
 * indicate a multiplier.
 */

// =============================================================================
// :: Load fonts
// =============================================================================
@include get-font("Avenir", "/assets/fonts/avenir/avenir-book", 100, normal);
@include get-font("Avenir", "/assets/fonts/avenir/avenir-black", 800, normal);
@include get-font("Avenir", "/assets/fonts/avenir/avenir-medium", 400, normal);

// =============================================================================
// :: Font families
// =============================================================================
$font-family-primary: ("Avenir", sans-serif);

// =============================================================================
// :: Font weights
// =============================================================================
/**
 * Font weight based on:
 * https://bigelowandholmes.typepad.com/bigelow-holmes/2015/07/
 */
$font-weight-extrablack: 900;
$font-weight-black: 800;
$font-weight-ultrabold: 700;
$font-weight-bold: 600;
$font-weight-dark: 500;
$font-weight-normal: 400;
$font-weight-lite: 300;
$font-weight-thin: 200;
$font-weight-ultrathin: 100;

// =============================================================================
// :: Font sizes
// =============================================================================
$font-size-1x-large: 4.8rem;
$font-size-base: 1.6rem;

// =============================================================================
// :: Line heights
// =============================================================================
$line-height-1x-large: 6.6rem;
$line-height-base: 2.6rem;
