{# ========================================================================== #}
{# Coworking #}
{# ========================================================================== #}
<section class="l-section">
	<div class="l-container">
		<header class="l-section__header">
			<h2 class="l-section__title">{{ entry.commonSamenwerkingTitle }}</h2>
		</header>
		<div class="l-section__content l-section__content--split">
			<div class="l-section__item s-wysiwyg">
				<p>{{ entry.commonSamenwerkingDescription }}</p>
			</div>
			<div class="l-section__item">
				{% include "/components/partners.twig" with {
					items: [
						{
							name: "Thibri plants",
							color: "lime"
						},
						{
							name: "Dirk Bogaert",
							color: "dark green"
						}
					]
				} only %}
			</div>
		</div>
	</div>
</section>