{% set globalContactTitleUs = globalContact.globalContactTitleUs ?? null %}
{% set globalContactTitleGegevens = globalContact.globalContactTitleGegevens ?? null %}
{% set globalContactNameLabel = globalContact.globalContactNameLabel ?? null %}
{% set globalContactMailLabel = globalContact.globalContactMailLabel ?? null %}
{% set globalContactBerichtLabel = globalContact.globalContactBerichtLabel ?? null %}
{% set globalContactCtaLabel = globalContact.globalContactCtaLabel ?? null %}
{% set globalContactGsm = globalContact.globalContactGsm ?? null %}
{% set globalContactGsmAnn = globalContact.globalContactGsmAnn ?? null %}
{% set globalContactPhone = globalContact.globalContactPhone ?? null %}
{% set globalContactMail = globalContact.globalContactMail ?? null %}
{% set globalContactStraat = globalContact.globalContactStraat ?? null %}
{% set globalContactStad = globalContact.globalContactStad ?? null %}
{% set globalContactDescription = globalContact.globalContactDescription ?? null %}

<div class="c-map" style="background-color: grey">
	<div id="map" style='width: 100%; height: 100%;'></div>
</div>

<div class="l-section u-padding-top-none">
	<div class="l-container">

	</div>
</div>


<script>
	mapboxgl.accessToken = "pk.eyJ1IjoiY29sbGludmR2IiwiYSI6ImNqeHVnYjcxcDB1M2wzYnBqNWxkdXh5YjgifQ.5mJmpWIiU9H8yUEKrdqBVA";

	/* Map: This represents the map on the page. */
	var map = new mapboxgl.Map({
		container: "map",
		style: "mapbox://styles/mapbox/outdoors-v11",
		zoom: 7.71,
		center: [3.9995,50.9916]
	});

	map.on("load", function () {
			map.resize();

		/* Image: An image is loaded and added to the map. */
		map.loadImage("https://i.imgur.com/MK4NUzI.png", function(error, image) {
			if (error) throw error;
			map.addImage("custom-marker", image);


			/* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
			map.addLayer({
				id: "markers",
				type: "symbol",
				/* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
				source: {
					type: "geojson",
					data: {
						type: 'FeatureCollection',
						features: [
							{
								type: 'Feature',
								properties: {},
								geometry: {
									type: "Point",
									coordinates: [4.0019, 50.9958]
								}
							}
						]
					}
				},
				layout: {
					"icon-image": "custom-marker",
				}
			});


		});
	});
</script>

<div class="l-section u-padding-top-none">
	<div class="l-container">
		{% include "/components/contact-info.twig" with {
		items: [
		{
		icon: "telephone",
		text: "<a href='tel: " ~ globalContactPhone ~ "'>" ~ globalContactPhone ~ "</a> </br> <a href='tel: " ~ globalContactGsm ~ "'> Dirk:" ~ globalContactGsm ~ "</a>"  ~  "<br><a href='tel: " ~ globalContactGsmAnn ~ "'> Ann:" ~ globalContactGsmAnn ~ "</a>"
		},
		{
		icon: "mail",
		text: "<a href='mailto:" ~ globalContactMail ~ "'>" ~ globalContactMail ~ "</a>"
		},
		{
		icon: "location",
		text: "<address>" ~ globalContactStraat ~ "</br>" ~ globalContactStad ~ "</address>"
		},
		{
		icon: "location",
		text: "<span>  Thibriplants BVBA : BE 0701.860.920 </br> Dirk Bogaert bvba : BE 0899.088.842  </span>"
		} ]
		} only %}
	</div>
</div>