{% include "/components/intro.twig" with {
	classes: "",
	contentTitle: "Contact",
	contentText: "<p>Vragen? Aarzel niet, je kan ons steeds contacteren om bijkomende informatie te vragen.</p>"
} only %}
