// =============================================================================
// :: Paragraph
// =============================================================================
/**
 * Paragraph styles defined to give any component the possibility to extend from
 * a certain style. When an element uses the same styling as a text-like block,
 * this does not mean it is a <p>, <small>, <strong>, ... .
 */

// =============================================================================
// :: P
// =============================================================================
@mixin extend-paragraph-base() {
	font-family: $font-family-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-weight: $font-weight-normal;
}
