// =============================================================================
// :: Button
// =============================================================================
.c-button {
	padding: 1.2rem 2rem;

	border: none;
	background-color: $background-color-white;

	box-shadow: $box-shadow-base;

	cursor: pointer;

	transition: color 0.3s ease-in-out;

	&:focus {
		outline: none;
	}

	&:hover {
		color: $tertiary-color;
	}
}
