// =============================================================================
// :: Contact
// =============================================================================
.c-contact {
	position: relative;

	background: $background-color-grey-1x-light;

	@include respond-at(get-breakpoint("tablet")) {
		background: linear-gradient(to right, $background-color-grey-1x-light 0% 75%, $background-color-white 75% 100%);
	}
}

// =============================================================================
// :: Elements
// =============================================================================
.c-contact__content {

	@include respond-at(get-breakpoint("tablet")) {
		width: calc(75% - 4rem);
	}
}

.c-contact__form {
	@include respond-at(get-breakpoint("tablet")) {
		width: 50rem;
	}
}

.c-contact__info {
	padding: 5rem;
	margin-top: 5rem;

	background-color: $primary-color;
	color: $text-color-white;

	@include respond-at(get-breakpoint("tablet")) {
		position: absolute;
		bottom: 4rem;
		right: 0;

		width: 40%;
	}
}

.c-contact__info-title {
	color: $text-color-white;
}

.c-contact__info-list {
	padding-left: 0;
	list-style-type: none;
}

.c-contact__info-item {
	display: flex;
	margin-top: 2rem;
}

.c-contact__info-icon {
	margin-right: 2rem;

	fill: $white;
}

.c-contact__info-text a {
	color: $text-color-white;

	text-decoration: none;

	transition: text-decoration 0.3s ease-in-out;

	&:hover {
		text-decoration: underline;
	}
}
