// =============================================================================
// :: Form
// =============================================================================
.c-form {
	margin-top: 4rem;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-form__item {

	+ .c-form__item {
		margin-top: 2rem;
	}
}

.c-form__submit {
	margin-top: 4rem;
}
