// =============================================================================
// :: Header
// =============================================================================
.c-header {
	padding: 2rem 0;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-header__nav {
	display: flex;
	align-items: center;
}

.c-header__list {
	display: flex;
	align-items: center;
	padding-left: 0;

	list-style-type: none;
}

.c-header__list-item {
	margin-left: 3.5rem;
}

.c-header__item-link {
	color: $text-color-base;

	text-decoration: none;
}

.c-header__part {
	display: flex;
	align-items: center;
}

.c-header__search {
	margin-left: 3.5rem;
}
