// =============================================================================
// :: Icon
// =============================================================================
.c-icon {
	width: 2rem;
	height: 2rem;

	svg {
		display: block;
	}
}
