// ============================================================================
// :: LANGUAGE
// ============================================================================
.c-language {
	display: flex;

	@include respond-at(get-breakpoint("tablet")) {
		display: block;
	}

	&:hover {
		cursor: pointer;

		.c-language__header {
			color: $text-color-base;
		}

		.c-language__content {
			pointer-events: auto;

			&::before {
				transform: scaleY(1);
			}
		}

		.c-language__list {
			@for $i from 1 through 10 {

				li:nth-child(#{$i}) {
					transition: transform 0.3s ease-in-out $i * 0.04s, opacity 0.3s ease-in-out $i * 0.04s;
				}
			}

			li {
				opacity: 1;
				transform: translateY(0);

				transition: transform 0s ease-in-out, opacity 0s ease-in-out;
			}
		}
	}
}

// ============================================================================
// :: Elements
// ============================================================================
.c-language__header {
	display: flex;

	color: $text-color-base;

	transition: color 0.2s ease-out;

	@include respond-at(get-breakpoint("tablet")) {
		padding: 2.5rem 1.5rem 2.5rem 0;
	}
}

.c-language__icon {
	display: none;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;

	@include respond-at(get-breakpoint("tablet")) {
		display: block;
	}
}

.c-language__content {
	margin-left: 0;

	pointer-events: none;

	@include respond-at(get-breakpoint("tablet")) {
		position: absolute;
		top: 1rem;
		left: -1rem;
		z-index: $z-index-pit;

		width: 80%;
		padding: 5rem 1rem 2rem;
	}

	&::before {
		content: "";

		position: absolute;
		bottom: 0;
		left: 0;

		display: block;
		width: 100%;
		height: 100%;

		background: $background-color-white;
		box-shadow: $box-shadow-base;
		border-bottom-left-radius: 4rem;
		border-bottom-right-radius: 4rem;

		transform: scaleY(0);
		transform-origin: top;
		transition: transform 0.3s ease-in-out;
	}
}

.c-language__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 0;

	transform: scaleY(1);

	list-style-type: none;

	@include respond-at(get-breakpoint("tablet")) {
		flex-direction: column;
	}

	li {
		margin-left: 1rem;

		@include respond-at(get-breakpoint("tablet")) {
			margin-left: 0;

			opacity: 0;

			transform: translateY(1rem);
			transition: transform 0.06s ease-in-out, opacity 0.06s ease-in-out;
		}
	}
}
