// =============================================================================
// :: Map
// =============================================================================
.c-map {
	min-height: 40rem;

	@include respond-at(get-breakpoint("desktop")) {
		position: absolute;
		top: 0;
		right: 0;

		width: 60%;
		height: 100%;
	}
}

.mapboxgl-canvas {
	left: 0;
}