// =============================================================================
// :: Partners
// =============================================================================
.c-partners {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
}

// =============================================================================
// :: Items
// =============================================================================
.c-partners__item {

	+ .c-partners__item {
		margin-left: -4rem;
		margin-top: -18rem;
	}
}
