// =============================================================================
// :: Input
// =============================================================================
// .c-search {}

// =============================================================================
// :: Elements
// =============================================================================
.c-search__wrapper {
	position: relative;

	background-color: $background-color-grey-1x-light;
	border-radius: 1.5rem;
}

.c-search__field {
	padding: 0.5rem 1rem 0.5rem 2.5rem;

	background-color: transparent;
	border: none;

	&:focus {
		outline: none;
	}
}

.c-search__icon {
	position: absolute;
	top: 50%;
	left: 1rem;

	width: 1.2rem;
	height: 1.2rem;

	transform: translateY(-50%);
}
