// =============================================================================
// :: Base
// =============================================================================
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 62.5%;
}

body {
	@include extend-paragraph-base();

	color: $text-color-base;
}

// =============================================================================
// :: Headers
// =============================================================================
h1 {
	@include extend-h1-base();
}

h2 {
	@include extend-h2-base();
}

// =============================================================================
// :: Paragraph
// =============================================================================
p {
	@include extend-paragraph-base();
}
