{# ========================================================================== #}
{# Variables #}
{# ========================================================================== #}
{% set globalContactTitleUs = globalContact.globalContactTitleUs ?? null %}
{% set globalContactTitleGegevens = globalContact.globalContactTitleGegevens ?? null %}
{% set globalContactNameLabel = globalContact.globalContactNameLabel ?? null %}
{% set globalContactMailLabel = globalContact.globalContactMailLabel ?? null %}
{% set globalContactBerichtLabel = globalContact.globalContactBerichtLabel ?? null %}
{% set globalContactCtaLabel = globalContact.globalContactCtaLabel ?? null %}
{% set globalContactGsm = globalContact.globalContactGsm ?? null %}
{% set globalContactPhone = globalContact.globalContactPhone ?? null %}
{% set globalContactMail = globalContact.globalContactMail ?? null %}
{% set globalContactStraat = globalContact.globalContactStraat ?? null %}
{% set globalContactStad = globalContact.globalContactStad ?? null %}

{# ========================================================================== #}
{# Coworking #}
{# ========================================================================== #}
{% include "/components/contact.twig" with {
	title: globalContactTitleUs,
	text: "Geïnteresseerd in een fijne samenwerking met Thibri Plants? <br/>Contacteer ons!",
	fields: [
		{
			id: "contact-name",
			inputName: "contact-name",
			inputType: "text",
			labelText: globalContactNameLabel
		},
		{
			id: "contact-email",
			inputName: "contact-email",
			inputType: "email",
			labelText: globalContactMailLabel
		},
		{
			id: "contact-message",
			inputName: "contact-message",
			inputType: "textarea",
			labelText: globalContactBerichtLabel
		}
	],
	cantactInfo: [
		{
			icon: "telephone",
			text: "<a href='tel: " ~ globalContactPhone ~ "'>" ~ globalContactPhone ~ "</a> </br> <a href='tel: " ~ globalContactGsm ~ "'>" ~ globalContactGsm ~ "</a>"
		},
		{
			icon: "mail",
			text: "<a href='mailto:" ~ globalContactMail ~ "'>" ~ globalContactMail ~ "</a>"
		},
		{
			icon: "location",
			text: "<address>" ~ globalContactStraat ~ "</br>" ~ globalContactStad ~ "</address>"
		}
	]
} only %}