{# ========================================================================== #}
{# Variables #}
{# ========================================================================== #}
{% set globalContactTitleUs = globalContact.globalContactTitleUs ?? null %}
{% set globalContactTitleGegevens = globalContact.globalContactTitleGegevens ?? null %}
{% set globalContactNameLabel = globalContact.globalContactNameLabel ?? null %}
{% set globalContactMailLabel = globalContact.globalContactMailLabel ?? null %}
{% set globalContactBerichtLabel = globalContact.globalContactBerichtLabel ?? null %}
{% set globalContactCtaLabel = globalContact.globalContactCtaLabel ?? null %}
{% set globalContactGsm = globalContact.globalContactGsm ?? null %}
{% set globalContactGsmAnn = globalContact.globalContactGsmAnn ?? null %}
{% set globalContactPhone = globalContact.globalContactPhone ?? null %}
{% set globalContactMail = globalContact.globalContactMail ?? null %}
{% set globalContactStraat = globalContact.globalContactStraat ?? null %}
{% set globalContactStad = globalContact.globalContactStad ?? null %}
{% set globalContactDescription = globalContact.globalContactDescription ?? null %}

{# ========================================================================== #}
{# Coworking #}
{# ========================================================================== #}
{% include "/components/contact.twig" with {
	title: globalContactTitleUs,
	titleGegevens: globalContactTitleGegevens ,
	text: globalContactDescription,
	cantactInfo: [
		{
			icon: "telephone",
			text: "<a href='tel: " ~ globalContactPhone ~ "'>" ~ globalContactPhone ~ "</a> </br> <a href='tel: " ~ globalContactGsm ~ "'> Dirk:" ~ globalContactGsm ~ "</a>"  ~  "<br><a href='tel: " ~ globalContactGsmAnn ~ "'> Ann:" ~ globalContactGsmAnn ~ "</a>"
		},
		{
			icon: "mail",
			text: "<a href='mailto:" ~ globalContactMail ~ "'>" ~ globalContactMail ~ "</a>"
		},
		{
			icon: "location",
			text: "<address>" ~ globalContactStraat ~ "</br>" ~ globalContactStad ~ "</address>"
		},
		{
			icon: "search",
			text: "<span>  Thibriplants BVBA : BE 0701.860.920 </br> Dirk Bogaert bvba : BE 0899.088.842  </span>"
		}
	]
} only %}