{# ========================================================================== #}
{# Variables #}
{# ========================================================================== #}
{% set title = entry.homeSpotlightTitle ?? null %}
{% set description = entry.homeSpotlightDescription ?? null %}

{% set transform = {
		mode: 'fit',
		width: 500,
		height: 500,
		quality: 90,
		position: 'center-center'
	}
%}
{# ========================================================================== #}
{# Highlights #}
{# ========================================================================== #}
<section class="l-section l-section--grey-half">
	<div class="l-container">
		<header class="l-section__header">
			<h2 class="l-section__title">{{ title }}</h2>
		</header>
		<div class="l-section__content">
			<div class="l-section__item">
				<p class="l-section__text">{{ description }}</p>
			</div>
			<div class="l-section__item">
				<div class="l-grid l-grid--with-spacing">
					{% for plant in entry.commonPlants.all() %}
						{% if plant.commonImage.one() %}
							{% set image = plant.commonImage.one().getUrl(transform) %}
						{%  else %}
							{% set image = '' %}
						{% endif %}

						{% if loop.first %}
							{% set plantClass = "l-grid__col l-grid__col--12 l-grid__col--3@desktop l-grid__col--offset-2@desktop" %}
						{% else %}
							{% set plantClass = "l-grid__col l-grid__col--12 l-grid__col--3@desktop" %}
						{% endif %}

						{% include "/components/article.twig" with {
							classes: plantClass,
							image: image,
							title: plant.commonTitle,
							type: plant.plantsoortCategory.one().title,
							text: plant.commonIntroduction,
							link: plant.url
						} only %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>