{# ========================================================================== #}
{# Imports #}
{# ========================================================================== #}
{% import "components/header.twig" as header %}


{# ========================================================================== #}
{# Partial #}
{# ========================================================================== #}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" id="html">

	{% include '/_base/head'%}

	<body id="body">

		{% include "/components/header.twig" with {
			items: [
				{
					url: "/",
					text: "Catalogus"
				},
				{
					url: "/",
					text: "Over ons"
				},
				{
					url: "/",
					text: "Contact"
				}
			]
		} only %}

		<main>
			{% block content %}

			{% endblock %}
		</main>


		{% include '/_base/foot'%}

	</body>
</html>
