{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
{% macro default(classes, data) %}
	<button class="c-button {{classes}}">
		{{data.text}}
	</button>
{% macro %}