{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}
{# set variables #}
{% set text = text ?? NULL %}
{% set link = link ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<a href="{{link}}" class="c-button {{classes}}">
	{{text}}
</a>