{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}
{# set variables #}
{% set title = title ?? NULL %}
{% set text = text ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<section class="c-contact l-section">
	<div class="c-contact__container l-container">
		<header class="c-contact__header l-section__header">
			<h2 class="c-contact__title l-section__title">{{title}}</h2>
		</header>
		<div class="c-contact__content l-section__content">
			<p>{{text | raw}}</p>

			<form action="GET" class="c-contact__form c-form">
				{% for input in fields %}

					<div class="c-form__item">
						{% if input.inputType == "textarea" %}
							{% include "/components/textarea.twig" with input only %}
						{% else %}
							{% include "/components/input.twig" with input only %}
						{% endif %}
					</div>

				{% endfor %}

				<input type="submit" class="c-form__submit c-button" value="Verzenden">
			</form>
		</div>

		<div class="c-contact__info">
			<h3 class="c-contact__info-title">Contactgegevens</h3>

			<ul class="c-contact__info-list">
				{% for item in cantactInfo %}
					<li class="c-contact__info-item">
						{% include "/components/icon.twig" with {
							classes: "c-contact__info-icon",
							icon: item.icon
						} only %}

						<span class="c-contact__info-text">{{item.text | raw}}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>