{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}
{# set variables #}
{% set items = items ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="c-gallery {{classes}}">
	{% for item in items %}
		
	{% endfor %}
</div>