{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}
{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<button class="c-hamburger {{classes}}">
	<div class="c-hamburger__item c-hamburger__item--top"></div>
	<div class="c-hamburger__item c-hamburger__item--middle"></div>
	<div class="c-hamburger__item c-hamburger__item--bottom"></div>
</button>