{# ========================================================================== #}
{# :: Imports #}
{# ========================================================================== #}
{% import "templates/components/language.twig" as language %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
{% macro default(classes, data) %}

	<header class="c-header {{classes}}">
		<nav class="c-header__nav">
			<a href="/">
				<img src="/" alt="logo" class="c-header__logo"  title="logo" />
			</a>

			<ul class="c-header__list">
				{% for item in data.items %}
					<li class="c-header__list-item">
						<a href="{{item.url}}">{{item}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		<div class="c-header__search">
			<input type="text" class="c-header__search-input" />
			{% include "resources/icons/serach.svg" %}
		</div>

		{{language.default("c-header__language", {
			active: "NL",
			items: ["EN", "FR"]
		})}}
	</header>

{% endmacro %}