{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<header class="c-header {{classes}}">
	<div class="c-header__overlay"></div>

	<div class="c-header__container l-container">
		<div class="c-header__part">
			<nav class="c-header__nav">
				<a href="/">
					<img src="/assets/img/logo-thibri.svg" alt="logo" class="c-header__logo"  title="logo" />
				</a>

				<ul class="c-header__list">
					{% for item in items %}
						<li class="c-header__list-item">
							<a class="c-header__item-link" href="{{item.url}}">{{item.text}}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>

		{#{% include "/components/language.twig" with {#}
			{#classes: "c-header__language",#}
			{#activeLanguage: "NL",#}
			{#items: ["EN", "FR"]#}
		{#} only %}#}

		{% include "/components/hamburger.twig" with {
			classes: "c-header__hamburger"
		} only %}
	</div>
</header>