{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}
{# set variables #}
{% set name = name ?? NULL %}
{% set theme = theme ?? "primary" %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="c-partner c-partner--{{theme}} {{classes}}">
	<svg class="c-partner__oval" x="0px" y="0px"
	 viewBox="0 0 268 268" style="enable-background: 0 0 268 268;" xml:space="preserve">
        <path id="Oval" class="st0" d="M134,267c34.9,0,73.7-11.4,97.4-33.4c26.2-24.3,35.6-61,35.6-99.5c0-39.6-27.3-75.1-54.8-99.4
	C188.7,13.9,167.8,1.2,134,1.2c-36.9,0-57.3-4-81.4,20.3C28.8,45.5,1,97.6,1,134.1c0,27.3,18.2,42.7,32.3,63.8
	C57.2,233.5,87.9,267,134,267z"/>
</svg>

	<span class="c-partner__name">{{name}}</span>
</div>