{# ========================================================================== #}
{# :: Imports #}
{# ========================================================================== #}
{# set variables #}
{% set title = title ?? NULL %}
{% set headers = headers ?? NULL %}
{% set items = items ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="c-table {{classes}}">
	{% if title %}
		<h3 class="c-table__title">{{title}}</h3>
	{% endif %}

	<table>
		<thead>
			<tr>
				{% for item in headers %}
					<th>{{item}}</th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
			{% for item in items %}
				<tr>
					{% for data in item %}
						<td>{{data}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>