{# ========================================================================== #}
{# :: Imports #}
{# ========================================================================== #}
{# set variables #}
{% set headers = headers ?? NULL %}
{% set items = items ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<table class="c-table {{classes}}">
	<thead>
		<tr>
			{% for item in headers %}
				<th>{{item}}</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
		{% for item in items %}
			<tr>
				{% for data in item %}
					<td>{{data}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>